<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="form-group">
    <label for="">NAME</label>
    <input  [(ngModel)]="newcard.id" type="text" class="form-control" name="first" aria-describedby="emailHelpId" placeholder="">
    <small id="emailHelpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="form-group">
    <label for="">EMAIL</label>
    <input [(ngModel)]="newcard.email" type="email" class="form-control" name="second" id="" aria-describedby="emailHelpId" placeholder="">
    <small id="emailHelpId" class="form-text text-muted">email please</small>
  </div>
    <button class="btn" (click)="add(newcard)">
            Notification <span class="badge badge-success"></span>
    </button>

    <div class="card-group">
      <div class="card">
        <!-- <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap"> -->

        <div class="card-body" *ngFor="let v of value; let i = index ;let o = odd; let e = even"
        [ngClass]="{
          'odd-active': o,
          'even-active': e
        }">
          <h4 class="card-title">Index:{{i}} 
            {{ v.id}} - {{v.email}}</h4>
          <!-- <p class="card-text" >how are you</p> -->
         
          
        </div>
    
      <!-- <div class="card">
        <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div> -->
    </div>
    </div>
    

</body>
</html>