<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  <title>Document</title>
</head>
<body>

    <div class="panel panel-primary">
        <div class="panel-heading">PLEASE ADD YOUR ORDER </div>
           <div class="panel-body" >
                <form #bookForm="ngForm" >
                   <div class="row">
                     <div class="col-lg-6">
              
                      <mat-form-field class="example-full-width">
              
                          <input matInput placeholder="LIST(disabled)" disabled value="DISHES" >
                        </mat-form-field>
                      
                        <table class="example-full-width" cellspacing="0"><tr>
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="First name" required minlength="3" forbiddenName="bob" [(ngModel)]="item.first"
                             #name="ngModel" name="name">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                 class="alert alert-danger">

                                 <div *ngIf="name.errors.required">
                                   Name is required.
                                  </div>
                                   <div *ngIf="name.errors.minlength">
                                       Name must be at least 3 characters long.
                                    </div>
                                    <div *ngIf="name.errors.forbiddenName">
                                       Name cannot be Bob.
                                      </div>

                              </div>
                          </mat-form-field></td>
                          
                        </tr></table>
                      
                        <p>
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Address"  required minlength="3" forbiddenName="bob" [(ngModel)]="item.address" 

                            #add="ngModel" name="add">town-address with near location
                          </textarea>
                           <div *ngIf="add.invalid && (add.dirty || add.touched)"
                                    class="alert alert-danger">

                                  <div *ngIf="add.errors.required">
                                  ADDRESSS is required.
                                  </div>
                                  <div *ngIf="add.errors.minlength">
                                      Name must be at least 3 characters long.
                                   </div>
                                   <div *ngIf="add.errors.forbiddenName">
                                      Name cannot be Bob.
                                    </div>

                             </div>
                              
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="YOUR MEAL" [(ngModel)]="item.meal" required minlength="3" forbiddenName="bob"
                             #fir="ngModel" name="fir"></textarea>
                                <div *ngIf="fir.invalid && (fir.dirty || fir.touched)"
                                     class="alert alert-danger">
    
                                     <div *ngIf="fir.errors.required">
                                       Meal is required.
                                      </div>
                                       <div *ngIf="fir.errors.minlength">
                                           Name must be at least 3 characters long.
                                        </div>
                                        <div *ngIf="fir.errors.forbiddenName">
                                           Name cannot be Bob.
                                          </div>
    
                                  </div>
                                
                          </mat-form-field>
                        </p>
                      
                        <table class="example-full-width" cellspacing="0"><tr>
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="City" [(ngModel)]="item.city"  required minlength="3" forbiddenName="bob" 
                            #City="ngModel" name="City">
                           <div *ngIf="City.invalid && (City.dirty || City.touched)"
                                class="alert alert-danger">

                                <div *ngIf="City.errors.required">
                                  city is required.
                                 </div>
                                  <div *ngIf="City.errors.minlength">
                                      Name must be at least 3 characters long.
                                   </div>
                                   <div *ngIf="City.errors.forbiddenName">
                                      Name cannot be Bob.
                                     </div>

                             </div>
                          </mat-form-field></td>
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="quantiy" [(ngModel)]="item.quantity"  required minlength="1" forbiddenName="bob" 
                            #quan="ngModel" name="quan">
                           <div *ngIf="quan.invalid && (quan.dirty || quan.touched)"
                                class="alert alert-danger">

                                <div *ngIf="quan.errors.required">
                                 quantity is required.
                                 </div>
                                  <div *ngIf="quan.errors.minlength">
                                      quantity  must be at least 1 
                                   </div>
                                   <div *ngIf="quan.errors.forbiddenName">
                                      Name cannot be Bob.
                                     </div>

                             </div>
                          </mat-form-field></td>
                          <td><mat-form-field class="example-full-width">
                            <input [(ngModel)]="item.num"  matInput #postalCode  placeholder="number" value="03**123567"  required minlength="11" maxlength="11" forbiddenName="bob" 
                            #num="ngModel" name="num">
                           <div *ngIf="num.invalid && (num.dirty || num.touched)"
                                class="alert alert-danger">

                                <div *ngIf="num.errors.required">
                                  number is required.
                                 </div>
                                  <div *ngIf="num.errors.minlength">
                                      Name must be at least 11 characters long.
                                   </div>
                                   <div *ngIf="num.errors.forbiddenName">
                                      Name cannot be Bob.
                                     </div>

                             </div> 
                            <mat-hint align="end">{{postalCode.value.length}} / 11</mat-hint>
                          </mat-form-field></td>
                        </tr></table>
                        <button mat-fab color="primary" (click)="post(total)"  (click)="addItem(item)"[disabled]="!bookForm.valid">ADD</button>
              
              
              
              
                  
                      </div>
                </div>
                
              </form>



        </div>
      </div>   
      {{item | json }}
    
</body>
</html>